html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.main {
  width: 100%;
}

.todo-tabs {
  margin: 0;
  width: 250px;
  height: 100vh;
  background-color: lightgray;
}

.todo-tabs ul {
  list-style: none;
  padding-left: 0;
  font-size: large;
}

.todo-tabs ul li {
  border-bottom: 1px solid darkgrey;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 8px 16px;
}

.todo-tabs h1 {
  font-weight: 300;
  text-align: center;
}

.todo-tabs ul li:hover {
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(225, 225, 225);
}

.new-task {
  margin: 32px;
  max-width: 700px;
  display: flex;
  padding: 16px;
  height: 32px;
}

.new-task input {
  margin-right: 16px;
  flex-grow: 10;
  border-radius: 4px;
  outline: none;
  padding-left: 8px;
  padding-right: 8px;
}

.new-task button {
  margin-right: 16px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 4px;
}

.add {
  color: #e5e0d8;
  background-color: #1856b2;
  border-color: #164e9f;
  flex-grow: 2;
}

.add:hover {
  background-color: #164e9f;
}

.options:hover {
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: #164e9f;
}

.options {
  background-color: white;
  color: #0d6efd;
}

.todo-color {
  color: #0d6efd;
}

.completed-color {
  color: #198754;
}

.archived-color {
  color: #dc3545;
}
